* {
  font-family: "Helvetica", sans-serif;
}
.App {
  text-align: center;
}

.custom-color {
  color: #0077b5 !important;
}

.custom-bg-color {
  background-color: #0077b5 !important;
}

.custom-border {
  border: 1px solid #0077b5;
}

.custom-border-5 {
  border-right-style: solid !important;
  border-right-width: 8px !important;
  border-right-color: #0077b5 !important;
}

.image-height {
  height: fit-content;
  width: fit-content;
}

.chosen-services {
  height: 125px !important;
}

button[role="tab"] {
  border: 1px solid transparent !important;
  color: rgb(124, 124, 124);
  font-size: 14px;
  text-align: start;
  padding: 0;
}

button[role="tab"]:focus {
  text-decoration: underline !important;
  text-decoration-color: #0077b5 !important;
  text-decoration-thickness: 5px !important;
  text-underline-offset: 10px !important;
}

button[role="tab"]:hover {
  color: #1f29e4;
}

.hover-card {
  color: #0077b5 !important;
}

.custom-pry {
  background-color: #0077b5 !important;
}

.my-services-details {
  height: fit-content !important;
}

.hourglass-spin {
  animation: infinite 5s;
  animation-name: spinner;
}

.status-badge {
  height: 30px !important;
  width: 30px !important;
}
